<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UISwitch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7EA76E91C9D6721008BEFDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7EA77021C9D6722008BEFDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7EA770D1C9D6722008BEFDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
